[submodule "submodules/prompt-engineering"]
	path = submodules/prompt-engineering
	url = git@github.com:AegisLenz/AegisLenz-PE.git
	branch = dev
[submodule "submodules/iam-policy"]
	path = submodules/iam-policy
	url = git@github.com:AegisLenz/iam-policy.git
	branch = dev