[submodule "submodules/prompt-engineering"]
	path = submodules/prompt-engineering
	url = https://github.com/AegisLenz/AegisLenz-PE.git
	branch = dev
[submodule "submodules/iam-policy"]
	path = submodules/iam-policy
	url = https://github.com/AegisLenz/iam-policy.git
	branch = dev